<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>设置</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="{{{ url_for('static', path='favicon.ico') }}}" type="image/jpg" /> 
    <!-- 引入axios -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="./axios.min.js"></script> -->
    <script src="{{{ url_for('static', path='axios.min.js') }}}"></script>

    <!-- 引入vue -->
    <!-- <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script> -->
    <!-- <script src="./vue.min.js"></script> -->
    <script src="{{{ url_for('static', path='vue.min.js') }}}"></script>

    <!-- <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css"> -->
    <!-- <link rel="stylesheet" href="./iview.css"> -->
    <link href="{{{ url_for('static', path='iview.css') }}}" rel="stylesheet">

    <!-- <script src="//unpkg.com/iview/dist/iview.min.js"></script> -->
    <!-- <script src="./iview.min.js"></script> -->
    <script src="{{{ url_for('static', path='iview.min.js') }}}"></script>
    

    <style scoped>
        .layout {
            border: 1px solid #d7dde4;
            background: #f5f7f9;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
        }

        .layout-logo {
            width: 100px;
            height: 30px;
            background: #5b6270;
            border-radius: 3px;
            float: left;
            position: relative;
            top: 15px;
            left: 20px;
        }

        .layout-nav {
            width: 420px;
            margin: 0 auto;
            margin-right: 20px;
        }

        .layout-footer-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="layout">
            <Layout>
                <Header>
                    <Row span="24">
                        <i-menu theme="dark" active-name="1" mode="horizontal">
                            <menu-item name="1" class="layout-nav">
                                <Icon type="ios-paper"></Icon>
                                内容管理
                            </menu-item>
                        </i-menu>
                    </Row>
                </Header>
                <Content :style="{padding: '0 50px', margin: '20px 0'}">
                    <Row>
                        <i-col span="22" offset="1">
                            <Card style="min-height: 800px;">
                                <div style="text-align:center">
                                    <Row>
                                        <i-col span="8">
                                            <i-menu them="light" active-name="1">
                                                <menu-group title="内容管理">
                                                    <menu-item name="1">
                                                        <Icon type="md-document" size="20"></Icon>
                                                        设置关键词
                                                    </menu-item>
                                                </menu-group>
                                            </i-menu>
                                        </i-col>
                                        <i-col span="16">
                                            <i-form label-position="right">
                                                <form-item v-for="(item, index) in key_word_list"
                                                    :label="'关键词' + (index + 1)">
                                                    <Row type="flex" justify="start" class="code-row-bg">
                                                        <i-col span="4">
                                                            <i-input type="text" v-model="item.kw_name"
                                                                placeholder="Enter something..."></i-input>
                                                        </i-col>
                                                        <i-col span="4">
                                                            <Upload v-if="item.media_url===''" type="drag" id="myUpload"
                                                                action="http://127.0.0.1:8199/file/upload"
                                                                :before-upload="handleBeforeUpload"
                                                                :on-success="handleSuccess"
                                                                style="display: inline-block;width:58px;">
                                                                <div style="width: 58px;height:58px;line-height: 58px;">
                                                                    <Icon type="ios-camera" size="20"></Icon>
                                                                </div>
                                                            </Upload>
                                                            <Avatar class="avatar_url" v-else shape="square" :src="item.media_url" />
                                                        </i-col>
                                                        <i-col span="4">
                                                            <i-button v-on:click="removeKW(item.kw_name)" type="error">
                                                                删除</i-button>
                                                        </i-col>
                                                    </Row>
                                                </form-item>
                                                <!-- 新增 -->
                                                <form-item>
                                                    <Row>
                                                        <i-col span="12">
                                                            <i-button v-on:click="addOneKW" type="dashed" long
                                                                icon="md-add">新增</i-button>
                                                        </i-col>
                                                    </Row>
                                                </form-item>

                                                <form-item v-if="displaySaveAlert">
                                                    <Row>
                                                        <i-col span="12">
                                                            <Alert banner show-icon type="warning">亲！新增关键词还未保存哦！</Alert>
                                                        </i-col>
                                                    </Row>
                                                </form-item>

                                                <!-- 提交 -->
                                                <form-item>
                                                    <Row>
                                                        <i-col span="12">
                                                            <i-button type="primary" v-on:click="submitKWList">保存
                                                            </i-button>
                                                        </i-col>
                                                    </Row>
                                                </form-item>
                                            </i-form>
                                        </i-col>
                                    </Row>
                                </div>
                            </Card>
                        </i-col>
                    </Row>
                </Content>
                <Footer class="layout-footer-center">2011-2022 &copy; jiwu</Footer>
            </Layout>
        </div>



    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',

            // 是否展示未保存警告框
            displaySaveAlert: false,

            // 关键词的列表
            key_word_list: [],

            // 获取关键词字典的url
            urlByKWList: 'http://127.0.0.1:8199/get/kw/list',
            // 提交保存关键词列表的url
            urlBySaveKWList: 'http://127.0.0.1:8199/save/kw/list',
            urlByRemove: 'http://127.0.0.1:8199/remove/kw',

            // 一个为空的关键词字典
            emptyKW: { 'kw_name': '', 'media_url': '' },

            global_message_duration: 2,
        },

        methods: {
            // 获取关键词的列表
            get_kw_list() {
                this.get(this.urlByKWList).then(res => {
                    if (res.statusText === 'OK') {
                        this.key_word_list = res.data['data'];
                    }
                })
            },

            // 添加一个空关键词
            addOneKW() {
                this.key_word_list.push(this.emptyKW);
                this.displaySaveAlert = true;
            },

            // 把关键词列表持久化保存
            submitKWList() {
                this.post(this.urlBySaveKWList, this.key_word_list).then(res => {
                    if (res.statusText != null && res.statusText === 'OK') {
                        this.$Notice.success({
                            title: 'Tip:',
                            desc: res.data.data,
                            duration: this.global_message_duration,
                        });

                        this.displaySaveAlert = false;
                    } else {
                        this.$Notice.error({
                            title: 'Tip:',
                            desc: res.message,
                            duration: this.global_message_duration,
                        });
                    }

                    this.get_kw_list();
                });
            },

            removeKW(kw_name) {
                let tempList = [];
                this.key_word_list.forEach(element => {
                    if (element.kw_name != '') {
                        tempList.push(element);
                    }
                });

                this.$set(this, 'key_word_list', tempList);

                this.post(this.urlByRemove, [kw_name]).then(res => {
                    if (res.statusText === 'OK') {
                        this.$Notice.success({
                            title: 'Tip:',
                            desc: res.data.data,
                            duration: this.global_message_duration,
                        });
                    }
                    this.get_kw_list();
                }).catch(err => {
                    this.$Notice.warning({
                        title: 'Tip:',
                        desc: err.message,
                        duration: this.global_message_duration,
                    });
                });
            },

            handleBeforeUpload(file) {
            },

            handleSuccess(res, file) {
                this.$Notice.success({
                    title: 'Tip:',
                    desc: res.data.msg
                });
                let temp = -1;
                this.key_word_list.forEach((element, index) => {
                    if (element.media_url === '') {
                        temp = index;
                    }
                });

                let obj = { 'kw_name': this.key_word_list[temp].kw_name, media_url: res.data.path };
                this.key_word_list[temp] = obj;

                let tempList = [];
                this.key_word_list.forEach(element => {
                    tempList.push(element);
                });

                this.$set(this, 'key_word_list', tempList);
            },

            // 一个get请求
            get(url, data) {
                return axios({
                    methods: 'get',
                    url: url,
                    data: data
                })
            },

            // 一个post请求
            post(url, data) {
                return axios({
                    'method': 'post',
                    'url': url,
                    'headers': { 'Content-Type': 'application/json', 'accept': 'application/json' },
                    'data': data,
                })
            },
        },

        mounted() {
            this.get_kw_list();
        },
    })
</script>

</html>